<div>
    <app-header></app-header>
</div>
<div *ngIf="isLoading" class="myprogress">
    <div><mat-spinner [diameter]="40" ></mat-spinner></div>
    <div><p>Un Momento Porfavor!!</p></div>
    <div><p>Obteniendo los detalles de tu pa&iacute;s!!
    </p></div>
  </div>
<div class="container" *ngIf="!isLoading">
  <div class="row">
    <div class="col-md-6 mydiv">
        <div><p>Bandera del pa&iacute;s</p></div>
        <img [src]="dataSource.flags.png" [alt]="dataSource.flags.alt" />
    </div>
    <div class="col-md-6 mydiv2">
        <p class="detail">Detalle de {{dataSource.name.common}}</p>
        <div class="table-responsive">
            <table class="table align-middle  table-borderless">
              <tbody>
                <tr *ngIf="dataSource.name.common">
                    <th scope="row">Nombre pa&iacute;s : </th>
                    <td>{{dataSource.name.common}}</td>
                </tr>
                <tr *ngIf="dataSource.area">
                    <th scope="row">Área del país :</th>
                    <td>{{dataSource.area}}</td>
                </tr>
                <tr *ngIf="dataSource.population">
                    <th scope="row">Poblaci&oacute;n :</th>
                    <td>{{dataSource.population}}</td>
                </tr>
                <tr *ngIf="dataSource.capital">
                    <th scope="row">Capital :</th>
                    <td>{{dataSource.capital[0]}}</td>
                </tr>
                <tr *ngIf="dataSource.continents[0]">
                    <th scope="row">Continente :</th>
                    <td>{{dataSource.continents[0]}}</td>
                </tr>
                <tr *ngIf="dataSource.coatOfArms &&( dataSource.coatOfArms.svg)">
                    <th scope="row">Escudo de armas:</th>
                    <td><img [src]="dataSource.coatOfArms.svg" width="70px" height="70px"></td>
                </tr>
                <tr *ngIf="dataSource.borders && dataSource.borders.length>0">
                    <th scope="row">Paises vecinos :</th>
                    <td>
                        <button mat-raised-button style="margin-right: 3px; margin-bottom: 3px; display: flex;" *ngFor="let country of dataSource.borders">{{country}}</button>
                    </td>
                </tr>
                <tr *ngIf="dataSource.independent">
                    <th scope="row">País independiente:</th>
                    <td>{{dataSource.independent ? 'Yes' : 'No'}}</td>
                </tr>
                <tr *ngIf="dataSource.region">
                    <th scope="row">Region :</th>
                    <td>{{dataSource.region}}</td>
                </tr>
                <tr *ngIf="dataSource.tld">
                    <th scope="row">Dominio de primer nivel :</th>
                    <td>{{dataSource.tld[0]}}</td>
                </tr>
                <tr *ngIf="dataSource.startOfWeek">
                    <th scope="row">Semana incia en:</th>
                    <td>{{dataSource.startOfWeek}}</td>
                </tr>
                <tr *ngIf="dataSource.subregion">
                    <th scope="row">Sub-Region :</th>
                    <td>{{dataSource.subregion}}</td>
                </tr>
                <tr *ngIf="dataSource.maps">
                    <th scope="row">Localizaci&oacute;n en Google Maps :</th>
                    <td><a [href]="dataSource.maps.googleMaps">Click</a></td>
                </tr>
                <tr *ngIf="dataSource.flag">
                    <th scope="row">Simbolo del pa&iacute;s:</th>
                    <td>{{dataSource.flag}}</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </div>
</div>
<div>
    <app-footer></app-footer>
</div>